{%  extends  'base.html.twig' %}

{% block title %} Lucky {% endblock %}
{%  block body %}

    <h1>{{ number }}</h1>
    <h3>{{ text | upper }}</h3>
    {% for t in tab %}

        {{ t }}

    {% endfor %}
{%  endblock %}